@import url('https://fonts.googleapis.com/css2?family=Farro:wght@300&display=swap');

.jumbotron {
    background-color: #1d2124c4;
    color: white;
    font-family: 'Farro', sans-serif;
    margin: 0 0 0;
  }

.navbar {
      color: white;
}

.nav-link {
    color: #fff;
    font-weight: bold;
}
